<p>
  <a href="{{site.jax_site}}">The Jackson Laboratory</a>
  is an independent, nonprofit biomedical research institution with more than 
  1,800 employees. Headquartered in Bar Harbor, Maine, it 
  has a National Cancer Institute-designated Cancer Center, 
  a facility in Sacramento, Calif., and a genomic medicine 
  institute in Farmington, Conn. Its mission is to discover 
  precise genomic solutions for disease and empower the global 
  biomedical community in the shared quest to improve human health.
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
